absl-py==0.2.2
adal==1.0.2
asn1crypto==0.24.0
astor==0.6.2
attrs==18.1.0
Automat==0.7.0
bleach==1.5.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
entrypoints==0.2.3
futures==3.1.1
gast==0.2.0
grpcio==1.12.1
gunicorn==19.8.1
h5py==2.7.1
html5lib==0.9999999
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
isodate==0.6.0
jeepney==0.3.1
Keras==2.1.4
keyring==13.2.1
lxml==4.2.3
Markdown==2.6.11
msrest==0.5.1
msrestazure==0.4.34
numpy==1.14.1
oauthlib==2.1.0
parsel==1.5.0
pbr==4.1.0
Pillow==5.1.0
pipenv==2018.7.1
protobuf==3.5.2.post1
pyasn1==0.4.3
pyasn1-modules==0.2.2
pycparser==2.18
PyDispatcher==2.0.5
PyHamcrest==1.9.0
PyJWT==1.6.4
pyOpenSSL==18.0.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
queuelib==1.5.0
requests==2.19.1
requests-oauthlib==1.0.0
scikit-learn==0.19.2
scipy==1.1.0
Scrapy==1.5.1
SecretStorage==3.0.1
service-identity==17.0.0
six==1.11.0
stevedore==1.28.0
tensorboard==1.7.0
tensorflow==1.7.0
tensorflow-hub==0.1.0
tensorflowjs==0.4.0
termcolor==1.1.0
Twisted==18.7.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
virtualenvwrapper-win==1.2.5
w3lib==1.19.0
Werkzeug==0.14.1
whitenoise==3.3.1
zope.interface==4.5.0
